name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Έλεγχος κώδικα
        uses: actions/checkout@v4

      - name: Ρύθμιση Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-test.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Εγκατάσταση εξαρτήσεων
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test.txt

      - name: Εκτέλεση τεστ με κάλυψη (%)
        run: |
          pytest --cov=custom_components/deddie_metering --cov-report=xml --cov-fail-under=95

      - name: Ανέβασμα κάλυψης (%) στο Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
