# .github/workflows/validate.yml
name: Validate HACS & hassfest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Run HACS Action
        uses: hacs/action@main
        with:
          category: "integration"  # Validate this as a HACS integration

  hassfest:
    name: hassfest
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Test hassfest
        uses: home-assistant/actions/hassfest@master  # Run the Home Assistant integration linter
